/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sideNav {
    height: 100%;
    width: 20%;
    min-width: 200px;
    max-width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-image: url('sideWorldMap.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #4d908e;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}
a:hover{
    transform: scale(1.1);
    color: #277DA1;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#sideBarBtn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    padding: 1vh;
    font-size: 30px;
}

.title {
    display: flex;
    margin: 3%;
    padding-bottom: 1vh;
    font-size: 25pt;
    justify-content: center;
    width: 30%;
    border-bottom: 2px solid #277DA1;
    color: #277DA1;
    font-weight: bold;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FDF9F0;
}

.create-profile-text{
    margin-top: 15vh;
}

.create-profile-text, .login-profile-text, .no-trip {
    color: #277DA1;
    font-weight: bold;
}

.log-in-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
}

#create-profile{
    background-image: url('passport1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#log-in {
    background-image: url('passport2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#password-message{
    position: relative;
}

#password-req{
    color:#277DA1;
    background-color: #FDF9F0;
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}
h3 {
    margin: 2vh;
    font-size: 22px;
}
input, #submit-profile, #log-in-btn, #submit-new-trip{
    margin: 1vh;
    border-radius: 5px;
}

button{
    cursor: pointer;
    background-color: #FDF9F0;
}
button:hover{
    transform: scale(.9);
    color:rgb(7, 59, 70);
}

#filter-box {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
#submit-filter, #filter{
    margin: 1vh;
    background-color: #90BE6D;
    border-color: #90BE6D;
    color: beige;
    border-radius: 5px;
}

#new-trip-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    width: 40%;    
    background-image: url('world-flags.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
    border-radius: 10px;
}

.display-trips, .display-completed-trips{
    width: 85%;
    text-align: center; 
    justify-content: center;
    color: #F8EFD7;   
    margin-top: 3vh;
}

#city-display, #add-pics {
    color: #FDF9F0;
}

.hide{    
    display: none;
}

.show {
    background-color: #F9844A;
    display: flex;
    height: auto;
    min-height: 9vh;
    transition: height 4s;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    color:#FDF9F0    
}



.displayRows {
    height: auto;
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    background-color: #4d908e;
}

.details-wish {
    margin: 1vh 0;
    width: 20%;
}

.details-travel {
    margin: 1%;
    width: 25%;
}

#delete-trip-traveled{
    width: 20%;
}

#complete-wish, #delete-wish, #delete-trip-traveled {
    width: 20%;
}

#add-pics {
    width: 40%;
}

#city-name-traveled {
    width: 30%;
}

#name-wish {
    width: 50%;
}

#arrow-wish, #arrow-traveled{
    width: 10%;
}

#add-pictures{
    background-color: #277DA1;
    height: auto;
    width: 60%;
    position: fixed;
    top: 25vh;
}

.details-post-travel {
    width: 13%;
}

.plan-post-travel {
    width: 21%;
}

.display-pic {
    margin: 2vh;
    width: 40%;
}

.single-pic{
    max-width: 100%;
}