/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sideNav {
    height: 100%;
    width: 20%;
    min-width: 200px;
    max-width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-image: url('sideWorldMap.jpg');
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideNav  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}
a:hover{
    transform: scale(1.1);
    color: #073B46;
}

.sideNav .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#sideBarBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1vh;
    font-size: 30px;
}

.title {
    display: flex;
    margin: 3%;
    padding-bottom: 1vh;
    font-size: 25pt;
    justify-content: center;
    width: 30%;
    border-bottom: 1px solid #073B46;
    color: #073B46;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: beige;
}


.log-in-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
    background-image: url('worldMap.jpg');
}

h3 {
    margin: 2vh;
    color:#073B46;
    font-size: 22px;
}
input, #submit-profile, #log-in-btn, #submit-new-trip{
    margin: 1vh;
    background-color: beige;
}

button{
    cursor: pointer;
}
button:hover{
    transform: scale(.9);
    color:#073B46;
}

#new-trip-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
    width: 40%;    
    background-image: url('world-flags.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
    border-radius: 10px;
}

.display-trips{
    width: 75%;
    text-align: center; 
    justify-content: center;
    background-color:rgba(7, 59, 70, 80%);
    color: beige;   
    
}
td{
    height: 5vh;
    padding-top: 1.5vh;
    border-bottom: 1px solid white;
    
}

td > button {
    background-color: beige;
}